# Ignorar carpetas de documentación y logs  
Documentacion Proyecto/  
Logs/  

# Ignorar scripts y archivos compartidos  
Scripts/  
share/  

# Ignorar archivos de caché y configuración  
Functions/__pycache__/  
pyvenv.cfg  

# Ignorar bibliotecas y archivos de inclusión del entorno virtual  
Include/  
Lib/  
# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
Lervis/Lervis/Diagrama_Pagina1_Florence2.png
Lervis/Lervis/publicaciones_arxiv.xlsx
Lervis/Lervis/Functions/__pycache__/Loggers.cpython-310.pyc
Lervis/Lervis/Functions/__pycache__/Loggers.cpython-310.pyc
Lervis/Lervis/Functions/__pycache__/Loggers.cpython-310.pyc
