Lervis/Lervis/Include/*
Lervis/Lervis/Lib/*
Lervis/Lervis/Logs/*
Lervis/Lervis/Scripts/*
Lervis/Lervis/share/*
Lervis/Lervis/pyvenv.cfg
Lervis/Lervis/Functions/__pycache__/*
Lervis/Lervis/Functions/__pycache__/API.cpython-310.pyc
Lervis/Lervis/Temp_files/*
Lervis/Lervis/descarga_PDF.log
